# Ignore all .ipynb
*.ipynb
**/.ipynb_checkpoints

# Ignore wandb
**/wandb/**

# Ingore Jmol --> might remove
**/Jmol

# Ignore psi4 stuff
**/timer.dat

# Ignore all __pycache__ and .DS_Store
**/__pycache__
*.DS_Store

# Ignore logs notebooks and env data
results
data
trajectories
notebooks
evaluate_action_norms
env/data

# Ignore models
models

# Ignore figures
*.html
*.png
*.pdf

# Ignore all trajectories
*.traj

# Ignore saved torch tensors
*.pt

